header {
  width: 100%;
  margin: 0;
}

header nav {
  background-color: #1E1E24;
  color: white;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .me {
  letter-spacing: 1px;
}
header nav .me h1 {
  font-size: 24px;
  margin: 0;
  margin-left: 10px;
  color: #F2CD5D;
}
header nav .me h4 {
  font-size: 18px;
  margin: 0;
  margin-left: 10px;
}

header nav ul {
  font-size: 20px;
  list-style: none;
  display: flex;
}
header nav ul li {
  margin: 10px;
}
header nav ul li a {
  color: #FFF8F0;
  text-decoration: none;
}

.active {
  color: #F2CD5D;
}

/*# sourceMappingURL=estilosMenu.css.map */
