h2.titulo {
  color: #F2CD5D;
  text-align: center;
  font-size: 25px;
}

main {
  width: 90%;
  background: transparent;
  margin: 0 auto;
}
main .academia {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin: 10px;
}
@media only screen and (max-width: 600px) {
  main .academia {
    margin: 0 auto;
    text-align: center;
  }
}
main .academia h1 {
  color: #F2CD5D;
}
main .academia .academia__elemento {
  text-align: center;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}
main .academia .academia__elemento h3 {
  width: 100%;
  text-align: center;
}
main .academia .academia__elemento .academia__elemento--texto h3 {
  font-size: 40px;
}
@media only screen and (max-width: 600px) {
  main .academia .academia__elemento .academia__elemento--texto h3 {
    font-size: 25px;
    letter-spacing: 1px;
    margin: 2px;
  }
}
main .academia img {
  width: 170px;
  height: 170px;
  border-radius: 100%;
}
@media only screen and (max-width: 600px) {
  main .academia .academia__elemento img {
    width: 100px;
    height: 100px;
  }
}
main .complemento {
  width: 100%;
  text-align: center;
}
main .complemento .complemento__cursos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media only screen and (max-width: 600px) {
  main .complemento .complemento__cursos {
    grid-template-columns: 1fr;
  }
}
main .complemento h1 {
  color: #F2CD5D;
}
main .complemento .academia__elemento {
  text-align: center;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
}
main .complemento .academia__elemento h3 {
  margin-left: 10px;
}
main .complemento img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

/*# sourceMappingURL=estilosMain.css.map */
