footer {
  margin-top: auto;
  margin-bottom: 0;
  background-color: #1E1E24;
  height: auto;
}
footer .flex__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer h3 {
  color: #F2CD5D;
  text-align: left;
  padding-top: 10px;
  margin: 0;
  padding-left: 30px;
}
footer .frase {
  text-align: right;
  color: white;
  font-size: 20px;
  padding-right: 10px;
}
footer .frase .Apple {
  width: 16px;
  height: 20px;
  margin-left: 5px;
}
footer .social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  /* COLOR REDES SOCIALES */
}
footer .social li {
  list-style: none;
  display: flex;
  align-items: center;
}
footer .social img {
  width: 44px;
  height: 44px;
}
footer .social div {
  width: 10px;
  height: 10px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 100%;
}
footer .social .Twitter {
  background-color: #00acee;
}
footer .social .Linkedln {
  background-color: #0e76a8;
}
footer .social .GitHub {
  background-color: #ffffff;
}
footer .social .Platzi {
  background-color: #98CA3F;
}
footer .social .Instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

@media only screen and (max-width: 600px) {
  .flex__footer {
    display: flex;
    flex-direction: column;
  }
  .flex__footer .social {
    padding-left: 0;
  }
  .flex__footer .social div {
    width: 6px;
    height: 6px;
  }
  .flex__footer .frase {
    text-align: center;
  }
}

/*# sourceMappingURL=estilosFooter.css.map */
