body
{
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    background: rgba(1,22,39,1);
    background: -moz-linear-gradient(-45deg, rgba(1,22,39,1) 0%, rgba(26,55,71,1) 14%, rgba(1,22,39,1) 28%, rgba(26,55,71,1) 48%, rgba(1,22,39,1) 68%, rgba(1,22,39,1) 68%, rgba(26,55,71,1) 84%, rgba(1,22,39,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(1,22,39,1)), color-stop(14%, rgba(26,55,71,1)), color-stop(28%, rgba(1,22,39,1)), color-stop(48%, rgba(26,55,71,1)), color-stop(68%, rgba(1,22,39,1)), color-stop(68%, rgba(1,22,39,1)), color-stop(84%, rgba(26,55,71,1)), color-stop(100%, rgba(1,22,39,1)));
    background: -webkit-linear-gradient(-45deg, rgba(1,22,39,1) 0%, rgba(26,55,71,1) 14%, rgba(1,22,39,1) 28%, rgba(26,55,71,1) 48%, rgba(1,22,39,1) 68%, rgba(1,22,39,1) 68%, rgba(26,55,71,1) 84%, rgba(1,22,39,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(1,22,39,1) 0%, rgba(26,55,71,1) 14%, rgba(1,22,39,1) 28%, rgba(26,55,71,1) 48%, rgba(1,22,39,1) 68%, rgba(1,22,39,1) 68%, rgba(26,55,71,1) 84%, rgba(1,22,39,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(1,22,39,1) 0%, rgba(26,55,71,1) 14%, rgba(1,22,39,1) 28%, rgba(26,55,71,1) 48%, rgba(1,22,39,1) 68%, rgba(1,22,39,1) 68%, rgba(26,55,71,1) 84%, rgba(1,22,39,1) 100%);
    background: linear-gradient(135deg, rgba(1,22,39,1) 0%, rgba(26,55,71,1) 14%, rgba(1,22,39,1) 28%, rgba(26,55,71,1) 48%, rgba(1,22,39,1) 68%, rgba(1,22,39,1) 68%, rgba(26,55,71,1) 84%, rgba(1,22,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#011627', endColorstr='#011627', GradientType=1 );
}