footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

body {
  background-color: #0c0c0f;
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", cursive;
}
body h1 {
  color: #F2CD5D;
  height: auto;
  padding: 10%;
}

/*# sourceMappingURL=pendiente.css.map */
