$principal: #F2CD5D;

h2.titulo
{
    color: $principal;
    text-align: center;
    font-size: 25px;
}

main
{
    width: 90%;
    background: transparent;
    margin: 0 auto;

    .academia
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        margin: 10px;

        @media only screen and (max-width: 600px)
        {
            margin: 0 auto;
            text-align: center;
        }

        h1
        {
            color: $principal;
        }

        .academia__elemento
        {
            text-align: center;
            color: white;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            margin-bottom: 20px;

            h3
            {
                width: 100%;
                text-align: center;
            }

            .academia__elemento--texto
            {
                h3
                {
                    font-size: 40px;
                    
                }

                @media only screen and (max-width: 600px)
                {
                    h3
                    {
                        font-size: 25px;
                        letter-spacing: 1px;
                        margin: 2px;
                    }
                }
            }
        }

        img
        {
            width: 170px;
            height: 170px;
            border-radius: 100%;
        }

        @media only screen and (max-width: 600px)
        {
            .academia__elemento img
            {
                width: 100px;
                height: 100px;
            }
        }

    }

    .complemento
    {
        width: 100%;
        text-align: center;
        

        .complemento__cursos
        {
            display: grid;

            @media only screen and (max-width: 600px)
            {
                grid-template-columns: 1fr;
                
            }

            grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        
        h1
        {
            color: $principal;
        }

        .academia__elemento
        {
            text-align: center;
            color: white;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 10px;

            h3
            {
              margin-left: 10px;  
            }

        }

        img
        {
            width: 100px;
            height: 100px;
            border-radius: 100%;
        }
    }
}