$negro: #1E1E24;
$blanco: #FFF8F0;
$active: #F2CD5D;

header
{
    width: 100%;
    margin: 0;
}

header nav
{
    background-color: $negro;
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .me
{
    letter-spacing: 1px;

    h1{
        font-size: 24px;
        margin: 0;
        margin-left: 10px;
        color: $active;
    }

    h4{
        font-size: 18px;
        margin: 0;
        margin-left: 10px;    
    }
        
}

header nav ul
{
    font-size: 20px;
    list-style: none;
    display: flex;

    li{
        margin: 10px;
    
        a{
            color: $blanco;
            text-decoration: none;
        }
    }
}

.active
{
    color: $active;
}

