$negro: #1E1E24;
$twitter: #00acee;
$linkedln: #0e76a8;
$GitHub: #ffffff;
$Instagram: #d6249f;
$Instagram2: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
$Platzi: #98CA3F;
$active: #F2CD5D;

footer
{
    margin-top: auto;
    margin-bottom: 0;
    background-color: $negro;
    height: auto;

    .flex__footer
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h3
    {
        color: $active;
        text-align: left;
        padding-top: 10px;
        margin: 0;
        padding-left: 30px;
    }

    .frase
    {
        text-align: right;
        color: white;
        font-size: 20px;
        padding-right: 10px;

        .Apple
        {
            width: 16px;
            height: 20px;
            margin-left: 5px;
        }
    }

    .social
    {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0;

        li
        {
            list-style: none;
            display: flex;
            align-items: center;
        }

        img
        {
            width: 44px;
            height: 44px;
        }
        
        /* COLOR REDES SOCIALES */
        div
        {
            width: 10px;
            height: 10px;
            margin-right: 2px;
            margin-left: 2px;
            border-radius: 100%;
        }

        .Twitter
        {
            background-color: $twitter;
        }

        .Linkedln
        {
            background-color: $linkedln;
        }

        .GitHub
        {
            background-color: $GitHub;
        }

        .Platzi
        {
            background-color: $Platzi;
        }

        .Instagram
        {
            background: $Instagram;
            background: $Instagram2;
        }
    }

}

@media only screen and (max-width: 600px)
{
    .flex__footer
    {
        display: flex;
        flex-direction: column;
        
        .social
        {
            padding-left: 0;

            div
            {
                width: 6px;
                height: 6px;
            }
        }
    
        .frase
        {
            text-align: center;
        }
    }
}