$inferior: #1E1E24;

.presentacion
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../Img/slashes2.png');
    background-size: 40%;
    background-position-x: 50%;
    background-position-y: -100%;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border-bottom: 2px solid white;

    .superior
    {
        background: transparent;
        width: 100%;
        height: 170px;
        display: flex;
        justify-content: center;
        //margin: 10px;
        border-bottom: 1px solid white;

        img
        {
            border-radius: 100%;
            text-align: center;
            margin-top: 24px;
            position: absolute;
            border: 1px solid #1E1E24;
        }
    }

    .inferior
    {
        background-color: $inferior;
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 130px;

        p
        {
            margin: 10px;
            padding-bottom: 30px;
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 600px)
{
    .presentacion .superior
    {
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .presentacion .inferior p
    {
        text-align: center;
        font-size: 15px;
        padding-bottom: -10px;
    }
}