$negro: rgb(12, 12, 15);
$active: #F2CD5D;

footer
{
    position: absolute;
    width: 100%;
    bottom: 0;
}

body
{
    background-color: $negro;
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;

    h1
    {
        color: $active;
        
        height: auto;
        padding: 10%;
    }
}