<div class="Perfiles">
    <section>
        <h3>GitHub</h3>
        <div></div>
    </section>
    <section class="Linkdln">
        <h3>Linkedln</h3>
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="es_ES" data-type="vertical" data-theme="dark" data-vanity="juanegalvis"><a class="LI-simple-link" href='https://co.linkedin.com/in/juanegalvis?trk=profile-badge'>Juan Esteban Galvis Bedoya</a></div>
    </section>
    <section class="Twitter">
        <h3>Twitter</h3>
        <a class="twitter-timeline" data-lang="es" data-height="700" data-dnt="true" data-theme="dark" href="https://twitter.com/JuanEGalvis?ref_src=twsrc%5Etfw">Tweets by JuanEGalvis</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>
</div>